[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]
APScheduler = "*"
pytelegrambotapi = "*"
flask = "*"
gunicorn = "*"
peewee = "*"
psycopg2-binary = "*"
mypy = "*"

[dev-packages]



[requires]

python_version = "3.6"
